body{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-family: Roboto;
}

header{
    height: 10vh;
    width: 100%;
    background-color: gray;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-decoration: none;
    font-size: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

.header:visited{
    color: white;
}

.header:hover{
    color: aliceblue;
}

.content{
    margin: 5%;
    color: black
}

h1{
    display: flex;
    align-self: center;
    font-size: 40px;
}

ul{
    font-size: 27px;
}

p{
    font-size: 27px;
}

img{
    display: flex;
}

.Olomoucka{
    width: 40%;
}

.ipsum{
    color: gray;
}
